.container {
    display: flex;
    flex-direction: column;
}
.portadaCard{
    display: flex;
    height: auto;
    margin:8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color:rgba(53, 61, 72, 0.895);
}
.respuesta{
    display: flex;
    align-items: center;
    padding:3px;
    margin:3px;
    width: 75vw;
    height: 7vh;
    background-color:rgba(208, 228, 224, 0.357);
    border-radius:10px;
    font-size: 25px;    
}
.respuesta:hover{
    background-color:rgba(145, 221, 206, 0.357);
    cursor:pointer;
}
